



img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

img {
    max-width: 100%;
    display: inline-block;
}

.client-container {
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    background-color: #fff;
    border: 4px solid #9333ea;
    border-radius: 24px;
    flex-direction: row;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    grid-auto-columns: 1fr;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 0;
    padding: 40px 64px;
    display: flex;
    box-shadow: 4px 4px 0 1px #9333ea;
}

.client-logo-block {
    justify-content: center;
    display: flex;
    overflow: hidden;
}

.client-logo-container {
    width: 100%;
    max-width: 100%;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.text-style-h4 {
    font-family: Clashgrotesk, sans-serif;
    font-size: 24px;
    line-height: 30px;
}

.client-logo-image {
    width: 6rem;
    object-fit: cover;
}

@media screen and (max-width: 991px) {
    .client-container {
        max-height: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .client-logo-block {
        width: auto;
        justify-content: flex-start;
    }

    .client-logo-image {
        object-fit: cover;
    }

    .client-logo-container {
        grid-column-gap: 32px;
        grid-row-gap: 32px;
    }
}

@media screen and (max-width: 767px) {
    .client-container {
        max-height: 1002%;
        flex-direction: column;
    }

    .client-logo-block {
        justify-content: center;
        align-items: center;
    }

    .client-logo-image {
        height: 32px;
        align-self: center;
    }

    .client-logo-container {
        grid-column-gap: 32px;
        grid-row-gap: 24px;
        flex-flow: wrap;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        display: grid;
    }
}

@media screen and (max-width: 479px) {
    .client-container {
        height: 100%;
        max-height: 100%;
        text-align: center;
        grid-template-columns: auto;
        grid-auto-columns: auto;
        align-content: center;
        justify-content: stretch;
        align-items: center;
        justify-items: start;
    }

    .client-logo-block {
        justify-content: center;
    }

    .client-logo-image {
        width: 100%;
    }

    .client-logo-container {
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        display: flex;
    }
}

/* Clients.css */

.animation-div {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100%;
}

.ticker {
    display: flex;
    align-items: center;
    animation: ticker 20s linear infinite;
    width: 200%;
}

@keyframes ticker {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.client-logo-block {
    flex: none;
    padding-right: 50px;
}
